.header{
    display: flex;
    padding: 2rem 1rem 0.5rem;
}
.headerContainer{
    width: 50vw !important;
    padding-top:0.5rem;
}
.titleContainer{
    margin: auto !important;
}
.searchBarContainer{
    text-align: end;
}

.shoppingCartContainer{
    text-align: end;
}
