.fullImage img{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}
.firtsGrid img{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    max-width: 200px;
}

.videoContainer{
    width: 100vw;
    height: auto;
}
.firtsGrid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondGrid{
    justify-content: center;
    margin-bottom: 1rem;
}
.secondGrid img{
    width: 100%;
}
.message{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.greySection{
    background-color: rgb(216, 216, 216);
    height: 10vh;
    text-align: center;
    padding: 1rem;
}

.socialNetworkContainer{
    padding: 0.5rem;
}
